@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;1,300&display=swap");
* {
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-style: italic;
}
.conteudo-geral {
  width: 1440px;
  height: 900px;
  display: flex;
}
.bem-vindos {
  width: 720px;
  height: 900px;
  background-image: url(../img/bg.svg);

  color: #ffffff;
}
.conteudo-geral-criar-conta {
  width: 720px;
  height: 900px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.criar-conta {
  /* border: 1px solid blue; */
  width: 400px;
  height: 428px;
}
.logo {
  width: 98px;
  height: 28px;
  margin-left: 90px;
  margin-top: 70px;
}
.paragrafo-bem-vindo {
  width: 568px;
  height: 335px;
   margin-left: 90px;
  font-size: 56px;
  font-family: "Roboto", sans-serif;
  font-style: italic;
  margin-top: 60%;
}

.olho {
}
label {
  margin-top: 20px;
  display: block;
}

.senha {
  display: block;
}

.create {
  background-color: #1570ef;
}

.continue {
  background-position: center;
  background-position: left;
  background-color: #d1e9ff;
  width: 200px;
  height: 40px;
}

.login {
  margin-top: 10px;
  display: inline;
  margin-right: 5px;
  margin-top: 10px;
}

.criar-conta p {
  font-family: "Roboto", sans-serif;
  font-style: italic;
  font-size: 28px;
  font-weight: 700;
}

.input-senha,
.input-login {
  border-radius: 10px;
  height: 48px;
  width: 400px;
  margin-top: 5px;
  display: block;
  border: 1px solid #cbd5e1; /* cinza claro */
  border-radius: 8px; /* bordas arredondadas */
  outline: none;
}
.btn-primary,
.btn-second {
  background-color: #1677ff; /* azul forte */
  color: #fff; /* texto branco */
  font-size: 16px;
  font-weight: 600;
  border: none;
  border-radius: 6px; /* cantos arredondados */
  padding: 14px 24px; /* altura e largura internas */
  width: 408px; /* ocupa largura total */
  cursor: pointer;
  transition: background 0.3s ease;
  margin-top: 20px;
}

.btn-primary:hover {
  background-color: #d1e9ff; /* azul mais escuro no hover */
}

.btn-second {
  background-color: #e3f0fc;
  color: #1677ff;
}

.criar-conta span {
  margin-top: 20px;
  display: inline-block;
  margin-left: 25%;
}
.criar-conta a {
  color: #98a2b3;
}
